.restaurants-list {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 330px;
    height: 100%;
    background-color:#c4dde191;
    opacity: 0.8;
    padding: 20px 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: auto;
    &__heading {
        margin: 0 0 20px 0;
    }
}